<div class="container">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Catalogue</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="/">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Produits
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/produits">Chercher</a></li>
            <li><a routerLink="/new-produit">Ajouter</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  
</div>


<router-outlet></router-outlet>